/* basics styles */ 
* {
    font-family: 'Times New Roman', Verdana, sans-serif;
    font-size: 18px;
    color: black;
 }

 /* background color only for main page */
.main-page {
    background-color: lightgoldenrodyellow;
}

/* special font size for main page header */
.main-page h1 {
    font-size: 46px;
}

/* Descriptions to italic*/
.main-page .main-description, .recipe-page .recipe-description {
    font-style: italic;
}

/* recipe page headers with special styles */
.recipe-page h1 {
    font-weight: bold;
    font-size: 38px;
}

/* same width for all recipe pictures */
.recipe-page img{
    height: auto;
    width: 600px;
}

